#header{
    width: 100%;
    background-color: antiquewhite;
    color: black;
    display: flex;
    flex-direction: row;
}

#title{
    width: 30%;
    font-size: 30px;
    text-align: center;
    padding: 22px 0px;
}

#opciones{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .opcion{
        font-size: 30px;
        padding: 22px 0px;
    }
}