<div class="comp1">
    <div id="calculadora">Calculadora</div>
    <div id="inputsTesto">
        <div id="b1"><b>Ingrese Primer Numero:</b> <input type="number" value="0" id="num1" [(ngModel)]="numuno"></div>
        <div id="b2"><b>Ingrese Segundo Numero:</b> <input type="number" value="0" id="num2" [(ngModel)]="numdos"></div>
    </div>
    <div id="botones">
        <button id="suma" (click)="sum()">+</button>
        <button id="resta" (click)="rest()">-</button>
        <button id="mult" (click)="mul()">*</button>
        <button id="divi" (click)="div()">/</button>
    </div>
    <b><div id="respuesta" *ngIf="mostrarmsj"> Solucion: {{res}} </div></b>
</div>

